<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adaone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3b51f289-aaab-470a-867d-82c54a072a5a/resourceGroups/Prudential-POC/providers/Microsoft.Web/sites/adaone</ResourceId>
    <UserName>$adaone</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://adaone.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>